.notice, .alert, .warning {
  text-align: center;
  padding: 10px;
}

.notice {
  background-color: $alert_success;
  color           : white;
}

.alert, .error, .errors {
  background-color: $alert_error !important;
  color: white;
}

.warning {
  background-color: $alert_warning !important;
}

span.error, .errors {
  padding-left: 7px;
}

span.error {
  display: block;
  margin-top: -22px;
  margin-bottom: 22px ;
  background-color: $alert_error;
}
