.landing {
  .pitch-container {
    background-size: cover;
    width: 100%;
    height: 450px;
    text-align: center;

    color: $body_white;

    ul {
      margin: 0;
      padding-top: 50px;

      li {
        margin: 0 30px;
        display: inline-block;

        a {
          border: 1px solid transparent;
          font-size: 20px;
          color: #ffffff;
          background-color: $link_color;
          border-color: $link_color;
          padding: 10px 16px;
          border-radius: 6px;
        }
      }
    }

    .pitch {
      padding-top: 150px;

      h1 {
        font-size: 50px;
      }

      p {
        margin: 0;
        font-size: 25px;
      }
    }
  }
}

.background--image-splash {
  background-image: url(asset-path('photo-home-colors.jpg'));
}

.cover-bg {
  background-size: cover;
  @media only screen and (min-width: 1024px) {
    background-position-y: 75%;
  }
  @media only screen and (max-width: 1024px) {
    background-position-x: 50%;
  }
}

.cover-soft {
  padding-top: 500px;
  padding-bottom: 24px;
}

.title--homepage {
  @media only screen and (min-width: 1024px) {
    font-size: 50px !important;
  }
  @media only screen and (max-width: 1024px) {
    font-size: 35px !important;
  }
  color: white;
}

.subtitle--homepage {
  @media only screen and (min-width: 1024px) {
    font-size: 30px !important;
  }
  @media only screen and (max-width: 1024px) {
    font-size: 17px !important;
  }
}
