.tag {
  color: white;
  border-radius: 2px;
  font-size: 11px;
  padding: 2px 5px;
  background-color: #333;
}

.cdi {
  background-color: #AC202B;
}

.cdd {
  background-color: #283387;
}

.freelance {
  background-color: black;
}

.stage {
  background-color: #803581;
}
