= render 'games/menu'

- if @country
  %h4.text--center.soft--top
    = link_to "Top #{@country}", [@game, :participants]

%ul{class: 'f16', style: 'margin-left: 0px;'}
  .soft
    .max-readable-width.text--center
      %div{:"ng-app" => "application", :"ng-controller" => "ParticipantsController"}
        {{ filteredParticipants().length }} Players
        .form-search.form-inline
          %input{type: "text", "ng-model" => "search.$", class: 'search-query', placeholder: "Search for a player here...".html_safe}
            %button{:"ng-disabled"=>"currentPage == 0", :"ng-click"=>"currentPage = currentPage - 1"}
              Previous
            {{ currentPage + 1 }}/{{ numberOfPages() }}
            %button{:"ng-disabled"=> "currentPage >= filteredParticipants().length/pageSize - 1", :"ng-click"=>"currentPage = currentPage + 1"}
              Next
        .grid{:'ng-repeat' => 'participant in filteredParticipants() | startFrom:currentPage*pageSize | limitTo:pageSize'}
          .grid__item.one-half.text--right>
            {{ participant.rank }}
          .grid__item.one-half.text--left>

            %a{:'ng-href' => '/games/{{participant.game_id}}/participants?country={{participant.country}}', class: 'flag {{participant.country_code}}'}
              &nbsp&nbsp&nbsp
            &nbsp
            %a{:"ng-href" => "/games/{{participant.game_id}}/participants/{{participant.id}}/edit"}
              {{ participant.name }}






