= render 'games/menu'

%ul{class: 'f16', style: 'margin-left: 0px;'}
  .soft
    .max-readable-width.text--center
      %div{:"ng-app" => "application", :"ng-controller" => "ParticipantsController"}
        {{ filteredParticipants().length }} Players
        .form-search.form-inline
          %input{type: "text", "ng-model" => "search.$", class: 'search-query', placeholder: "Search for a player here...".html_safe}
            %button{:"ng-disabled"=>"currentPage == 0", :"ng-click"=>"currentPage = currentPage - 1"}
              Previous
            {{ currentPage + 1 }}/{{ numberOfPages() }}
            %button{:"ng-disabled"=> "currentPage >= filteredParticipants().length/pageSize - 1", :"ng-click"=>"currentPage = currentPage + 1"}
              Next
        .grid{:'ng-repeat' => 'participant in filteredParticipants() | startFrom:currentPage*pageSize | limitTo:pageSize'}
          .grid__item.one-half.text--right>
            {{ participant.rank }}
          .grid__item.one-half.text--left>

            %a{:'ng-href' => '/games/{{participant.game_slug}}/participants?country={{participant.country}}', class: 'flag {{participant.country_code}}', style: 'padding-top:2px;'}
              &nbsp&nbsp&nbsp
            &nbsp
            %a{:"ng-href" => "/games/{{participant.game_slug}}/participants/{{participant.slug}}"}
              {{ participant.name }}
            
            %a{:"ng-if" => "participant.character1", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character1}}"}
              %img{alt: "{{participant.character1}}", :"ng-src" => "/assets/{{participant.game_slug}}/{{participant.character1}}.png", width: 15}
            
            %a{:"ng-if" => "participant.character2", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character2}}"}
              %img{alt: "{{participant.character2}}", :"ng-src" => "/assets/{{participant.game_slug}}/{{participant.character2}}.png", width: 15}
            
            %a{:"ng-if" => "participant.character3", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character3}}"}
              %img{alt: "{{participant.character3}}", :"ng-src" => "/assets/{{participant.game_slug}}/{{participant.character3}}.png", width: 15}

            %a{:"ng-if" => "participant.character4", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character5}}"}
              %img{alt: "{{participant.character4}}", :"ng-src" => "/assets/{{participant.game_slug}}/{{participant.character4}}.png", width: 15}

            %a{:"ng-if" => "participant.character5", :"ng-href" => "/games/{{participant.game_slug}}/participants?character={{participant.character5}}"}
              %img{alt: "{{participant.character5}}", :"ng-src" => "/assets/{{participant.game_slug}}/{{participant.character5}}.png", width: 15}


