footer {
  background-color: #333333;
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;


  text-align: center;

  ul {
    margin: 0;
    color: white;

    li {
      color: white;
      line-height: $footer-height;
      display: inline-block;
      margin: 0 5px;

      .selected {
        color: #a3e7f8;
      }

      a {
        color: #38a0bb;
      }
    }
  }
}