html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

img {
  vertical-align: middle;
}

b, strong {
  font-weight: 500 !important;
}

.background--blue {
  background-color: #95DDEF;
}

.background--light-grey {
  background-color: $light_grey;
}

.background--dark {
  background-color: black;
}

.unsoft {
  margin-left: -22px;
  margin-right: -22px;
}

.negative-margin {
  margin-top: -100px;
  position: relative;
}

.centered-box {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.box {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
