.f16 .flag{
  background-image: url(asset-path("flags16.png"));
}
.f16 ._African_Union{background-position:0 0px;}
.f16 ._Arab_League{background-position:0 -15px;}
.f16 ._ASEAN{background-position:0 -31px;}
.f16 ._CARICOM{background-position:0 -47px;}
.f16 ._CIS{background-position:0 -63px;}
.f16 ._Commonwealth{background-position:0 -79px;}
.f16 ._England{background-position:0 -95px;}
.f16 ._European_Union{background-position:0 -111px;}
.f16 ._Islamic_Conference{background-position:0 -127px;}
.f16 ._Kosovo{background-position:0 -143px;}
.f16 ._NATO{background-position:0 -159px;}
.f16 ._Northern_Cyprus{background-position:0 -175px;}
.f16 ._Northern_Ireland{background-position:0 -191px;}
.f16 ._Olimpic_Movement{background-position:0 -207px;}
.f16 ._OPEC{background-position:0 -223px;}
.f16 ._Red_Cross{background-position:0 -239px;}
.f16 ._Scotland{background-position:0 -255px;}
.f16 ._Somaliland{background-position:0 -271px;}
.f16 ._Tibet{background-position:0 -287px;}
.f16 ._United_Nations{background-position:0 -303px;}
.f16 ._Wales{background-position:0 -319px;}
.f16 .ad{background-position:0 -335px;}
.f16 .ae{background-position:0 -351px;}
.f16 .af{background-position:0 -367px;}
.f16 .ag{background-position:0 -383px;}
.f16 .ai{background-position:0 -399px;}
.f16 .al{background-position:0 -415px;}
.f16 .am{background-position:0 -431px;}
.f16 .an{background-position:0 -447px;}
.f16 .ao{background-position:0 -463px;}
.f16 .aq{background-position:0 -479px;}
.f16 .ar{background-position:0 -495px;}
.f16 .as{background-position:0 -511px;}
.f16 .at{background-position:0 -527px;}
.f16 .au{background-position:0 -543px;}
.f16 .aw{background-position:0 -559px;}
.f16 .az{background-position:0 -575px;}
.f16 .ba{background-position:0 -591px;}
.f16 .bb{background-position:0 -607px;}
.f16 .bd{background-position:0 -623px;}
.f16 .be{background-position:0 -639px;}
.f16 .bf{background-position:0 -655px;}
.f16 .bg{background-position:0 -671px;}
.f16 .bh{background-position:0 -687px;}
.f16 .bi{background-position:0 -703px;}
.f16 .bj{background-position:0 -719px;}
.f16 .bm{background-position:0 -735px;}
.f16 .bn{background-position:0 -751px;}
.f16 .bo{background-position:0 -767px;}
.f16 .br{background-position:0 -783px;}
.f16 .bs{background-position:0 -799px;}
.f16 .bt{background-position:0 -815px;}
.f16 .bw{background-position:0 -831px;}
.f16 .by{background-position:0 -847px;}
.f16 .bz{background-position:0 -863px;}
.f16 .ca{background-position:0 -879px;}
.f16 .cg{background-position:0 -895px;}
.f16 .cf{background-position:0 -911px;}
.f16 .cd{background-position:0 -927px;}
.f16 .ch{background-position:0 -943px;}
.f16 .ci{background-position:0 -959px;}
.f16 .ck{background-position:0 -975px;}
.f16 .cl{background-position:0 -991px;}
.f16 .cm{background-position:0 -1007px;}
.f16 .cn{background-position:0 -1023px;}
.f16 .co{background-position:0 -1039px;}
.f16 .cr{background-position:0 -1055px;}
.f16 .cu{background-position:0 -1071px;}
.f16 .cv{background-position:0 -1087px;}
.f16 .cy{background-position:0 -1103px;}
.f16 .cz{background-position:0 -1119px;}
.f16 .de{background-position:0 -1135px;}
.f16 .dj{background-position:0 -1151px;}
.f16 .dk{background-position:0 -1167px;}
.f16 .dm{background-position:0 -1183px;}
.f16 .do{background-position:0 -1199px;}
.f16 .dz{background-position:0 -1215px;}
.f16 .ec{background-position:0 -1231px;}
.f16 .ee{background-position:0 -1247px;}
.f16 .eg{background-position:0 -1263px;}
.f16 .eh{background-position:0 -1279px;}
.f16 .er{background-position:0 -1295px;}
.f16 .es{background-position:0 -1311px;}
.f16 .et{background-position:0 -1327px;}
.f16 .fi{background-position:0 -1343px;}
.f16 .fj{background-position:0 -1359px;}
.f16 .fm{background-position:0 -1375px;}
.f16 .fo{background-position:0 -1391px;}
.f16 .fr{background-position:0 -1407px;}
.f16 .ga{background-position:0 -1423px;}
.f16 .gb{background-position:0 -1439px;}
.f16 .gd{background-position:0 -1455px;}
.f16 .ge{background-position:0 -1471px;}
.f16 .gg{background-position:0 -1487px;}
.f16 .gh{background-position:0 -1503px;}
.f16 .gi{background-position:0 -1519px;}
.f16 .gl{background-position:0 -1535px;}
.f16 .gm{background-position:0 -1551px;}
.f16 .gn{background-position:0 -1567px;}
.f16 .gp{background-position:0 -1583px;}
.f16 .gq{background-position:0 -1599px;}
.f16 .gr{background-position:0 -1615px;}
.f16 .gt{background-position:0 -1631px;}
.f16 .gu{background-position:0 -1647px;}
.f16 .gw{background-position:0 -1663px;}
.f16 .gy{background-position:0 -1679px;}
.f16 .hk{background-position:0 -1695px;}
.f16 .hn{background-position:0 -1711px;}
.f16 .hr{background-position:0 -1727px;}
.f16 .ht{background-position:0 -1743px;}
.f16 .hu{background-position:0 -1759px;}
.f16 .id{background-position:0 -1775px;}
.f16 .mc{background-position:0 -1775px;}
.f16 .ie{background-position:0 -1791px;}
.f16 .il{background-position:0 -1807px;}
.f16 .im{background-position:0 -1823px;}
.f16 .in{background-position:0 -1839px;}
.f16 .iq{background-position:0 -1855px;}
.f16 .ir{background-position:0 -1871px;}
.f16 .is{background-position:0 -1887px;}
.f16 .it{background-position:0 -1903px;}
.f16 .je{background-position:0 -1919px;}
.f16 .jm{background-position:0 -1935px;}
.f16 .jo{background-position:0 -1951px;}
.f16 .jp{background-position:0 -1967px;}
.f16 .ke{background-position:0 -1983px;}
.f16 .kg{background-position:0 -1999px;}
.f16 .kh{background-position:0 -2015px;}
.f16 .ki{background-position:0 -2031px;}
.f16 .km{background-position:0 -2047px;}
.f16 .kn{background-position:0 -2063px;}
.f16 .kp{background-position:0 -2079px;}
.f16 .kr{background-position:0 -2095px;}
.f16 .kw{background-position:0 -2111px;}
.f16 .ky{background-position:0 -2127px;}
.f16 .kz{background-position:0 -2143px;}
.f16 .la{background-position:0 -2159px;}
.f16 .lb{background-position:0 -2175px;}
.f16 .lc{background-position:0 -2191px;}
.f16 .li{background-position:0 -2207px;}
.f16 .lk{background-position:0 -2223px;}
.f16 .lr{background-position:0 -2239px;}
.f16 .ls{background-position:0 -2255px;}
.f16 .lt{background-position:0 -2271px;}
.f16 .lu{background-position:0 -2287px;}
.f16 .lv{background-position:0 -2303px;}
.f16 .ly{background-position:0 -2319px;}
.f16 .ma{background-position:0 -2335px;}
.f16 .md{background-position:0 -2351px;}
.f16 .me{background-position:0 -2367px;}
.f16 .mg{background-position:0 -2383px;}
.f16 .mh{background-position:0 -2399px;}
.f16 .mk{background-position:0 -2415px;}
.f16 .ml{background-position:0 -2431px;}
.f16 .mm{background-position:0 -2447px;}
.f16 .mn{background-position:0 -2463px;}
.f16 .mo{background-position:0 -2479px;}
.f16 .mq{background-position:0 -2495px;}
.f16 .mr{background-position:0 -2511px;}
.f16 .ms{background-position:0 -2527px;}
.f16 .mt{background-position:0 -2543px;}
.f16 .mu{background-position:0 -2559px;}
.f16 .mv{background-position:0 -2575px;}
.f16 .mw{background-position:0 -2591px;}
.f16 .mx{background-position:0 -2607px;}
.f16 .my{background-position:0 -2623px;}
.f16 .mz{background-position:0 -2639px;}
.f16 .na{background-position:0 -2655px;}
.f16 .nc{background-position:0 -2671px;}
.f16 .ne{background-position:0 -2687px;}
.f16 .ng{background-position:0 -2703px;}
.f16 .ni{background-position:0 -2719px;}
.f16 .nl{background-position:0 -2735px;}
.f16 .no{background-position:0 -2751px;}
.f16 .np{background-position:0 -2767px;}
.f16 .nr{background-position:0 -2783px;}
.f16 .nz{background-position:0 -2799px;}
.f16 .om{background-position:0 -2815px;}
.f16 .pa{background-position:0 -2831px;}
.f16 .pe{background-position:0 -2847px;}
.f16 .pf{background-position:0 -2863px;}
.f16 .pg{background-position:0 -2879px;}
.f16 .ph{background-position:0 -2895px;}
.f16 .pk{background-position:0 -2911px;}
.f16 .pl{background-position:0 -2927px;}
.f16 .pr{background-position:0 -2943px;}
.f16 .ps{background-position:0 -2959px;}
.f16 .pt{background-position:0 -2975px;}
.f16 .pw{background-position:0 -2991px;}
.f16 .py{background-position:0 -3007px;}
.f16 .qa{background-position:0 -3023px;}
.f16 .re{background-position:0 -3039px;}
.f16 .ro{background-position:0 -3055px;}
.f16 .rs{background-position:0 -3071px;}
.f16 .ru{background-position:0 -3087px;}
.f16 .rw{background-position:0 -3103px;}
.f16 .sa{background-position:0 -3119px;}
.f16 .sb{background-position:0 -3135px;}
.f16 .sc{background-position:0 -3151px;}
.f16 .sd{background-position:0 -3167px;}
.f16 .se{background-position:0 -3183px;}
.f16 .sg{background-position:0 -3199px;}
.f16 .si{background-position:0 -3215px;}
.f16 .sk{background-position:0 -3231px;}
.f16 .sl{background-position:0 -3247px;}
.f16 .sm{background-position:0 -3263px;}
.f16 .sn{background-position:0 -3279px;}
.f16 .so{background-position:0 -3295px;}
.f16 .sr{background-position:0 -3311px;}
.f16 .st{background-position:0 -3327px;}
.f16 .sv{background-position:0 -3343px;}
.f16 .sy{background-position:0 -3359px;}
.f16 .sz{background-position:0 -3375px;}
.f16 .tc{background-position:0 -3391px;}
.f16 .td{background-position:0 -3407px;}
.f16 .tg{background-position:0 -3423px;}
.f16 .th{background-position:0 -3439px;}
.f16 .tj{background-position:0 -3455px;}
.f16 .tl{background-position:0 -3471px;}
.f16 .tm{background-position:0 -3487px;}
.f16 .tn{background-position:0 -3503px;}
.f16 .to{background-position:0 -3519px;}
.f16 .tr{background-position:0 -3535px;}
.f16 .tt{background-position:0 -3551px;}
.f16 .tv{background-position:0 -3567px;}
.f16 .tw{background-position:0 -3583px;}
.f16 .tz{background-position:0 -3599px;}
.f16 .ua{background-position:0 -3615px;}
.f16 .ug{background-position:0 -3631px;}
.f16 .us{background-position:0 -3647px;}
.f16 .uy{background-position:0 -3663px;}
.f16 .uz{background-position:0 -3679px;}
.f16 .va{background-position:0 -3695px;}
.f16 .vc{background-position:0 -3711px;}
.f16 .ve{background-position:0 -3727px;}
.f16 .vg{background-position:0 -3743px;}
.f16 .vi{background-position:0 -3759px;}
.f16 .vn{background-position:0 -3775px;}
.f16 .vu{background-position:0 -3791px;}
.f16 .ws{background-position:0 -3807px;}
.f16 .ye{background-position:0 -3823px;}
.f16 .za{background-position:0 -3839px;}
.f16 .zm{background-position:0 -3855px;}
.f16 .zw{background-position:0 -3871px;}



